<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue</title>
</head>
<style>
.coordinates{
    width: 300px;
    height: 300px;
    border: 1px solid red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

</style>
<body>
    
    <div id="app">
        <h1>{{title}}</h1>
        
        <p>My name is: <span v-bind:class="color">{{fullName}}</span></p>

        <ul>
            <li v-for="color in colors" v-on:mousemove="setColor(color)">{{color}}</li>
        </ul>

        <!--<input type="text" v-model="name">

        <p 
            class="coordinates" 
            v-on:mousemove="getCoordinates">
            Coordinates: {{x}} / {{y}} - 
            <span v-on:mousemove="neutral">Neutral zone</span></p>

        <p>Views: {{views}}</p>

        <button v-on:click="increaseViews(1)">Increase views</button>
        <button v-on:click="increaseViews(-1)">Increase views</button>
        |
        <button v-on:dblclick="increaseViews(5)">Increase views</button>
        <button v-on:dblclick="increaseViews(-5)">Increase views</button> -->
        
    </div>
    
    
    <script src="app.js"></script>
</body>
</html>